@media screen and (max-width: 1161px){
   
    .indent{
        padding:0 0 0 0;
    }
   .conteiner{
       width: 100%;
   }
.featuredproducts{
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.produckt__featuredproducts .card{
    margin-left: 100px;
    margin-right: 0;
}
.newslatter input[type="submit"]{
   
    left: -45px;
    top:21px;
  
}
}







@media screen and (max-width: 1026px){
    .conteiner{
        width: 100%;
    }
    .indent{
        padding:0 0 0 0;
    }
    .item{
        margin-left: 100px;
        margin-right: 50px;
    }

.featuredproducts{
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.info__carusel{   
    position: absolute;
    left: 20%;
    top: 25%;
    color: white;
    text-align: center;
    font-size: 1rem;
}
.newcolection .card{
    margin: 50px;
}
.bestsellers .card{
    margin: 50px;
}
.produckt__featuredproducts {
    justify-content: flex-start;
}
.info__carusel{   
    position: absolute;
    left: 18%;
    top: 25%;
    color: white;
    text-align: center;
    font-size: 2rem;
}
.newslatter input[type="submit"]{
   
    left: -45px;
    top:21px;
  
}
}





@media screen and (max-width: 700px){
    .conteiner{
        width: 100%;
 
    }
    .indent{
        padding:0 0 0 0;
    }
    .item{
        margin-left: auto;
        margin-right: auto;
    }
.featuredproducts{
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.featuredproducts .card{
    margin: 35px;
}

.newcolection .card{
    margin: 35px;
}
.bestsellers .card{
    margin: 35px;
}
.produckt__featuredproducts {
    justify-content: flex-start;
}
.info__carusel{   
    position: absolute;
    left: 15%;
    top: 18%;
    color: white;
    text-align: center;
    font-size: 1rem;
}
.newslatter input[type="email"] {
    width:250px;
    height: 60px;
    left: 50px; 
}
.carusel a{
    background-color: #509d8b;
    height: 50px;
    width: 50px;
    margin-top: 10%;
}
.newslatter input[type="submit"]{
    width: 90px;
    height: 55px;
    border-radius:0 7px 7px 0;
    background-color: #4ec6ab;
    position: relative;
    left: -50px;
    top: 20px;
    background-image: url(icons8-быстрая-перемотка-вперед-50.png) ;
    background-repeat: no-repeat;
    text-shadow:none;
    background-position: 20px 0px;
}
.card img{
    position: relative;
    z-index: 0;
 }
 .menu{
     position: absolute;
     background:none;
     z-index:1;
     height:80px;
     top: 45%;
     border:none;
 }
 .time{
    background-color: #1abc9c; 
}
.like{
    background-color: #1abc9c;
}

.base{
    background-color: #1abc9c;
}
.conteiner__latestnews{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-right: auto;
    margin-left: 20px;
    flex-wrap: wrap;
}
}
